@using System.Globalization;
@model IEnumerable<CalculoDeSalario.Models.Salary>

@{
    ViewData["Title"] = "Index";
    var culture = CultureInfo.GetCultureInfo("pt-BR");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.People.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People.ValueHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWorkStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeWorkEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTimeWorked)
            </th>
            <th>
                Total R$
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.People.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.People.ValueHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorkEnd)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTimeWorked)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
