@using System.Globalization;
@model IEnumerable<CalculoDeSalario.Models.Salary>

@{
    ViewData["Title"] = "Index";
    var culture = CultureInfo.GetCultureInfo("pt-BR");
}

<style>
    .modal-title {
        text-align: center;
        background: -webkit-linear-gradient( #00ffd7, #Ff00e0 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


</style>
<h2 class="modal-title">Tempo de Trabalho</h2>

<p>
    <a asp-action="Create">Nova Entrada</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Valor Hora
            </th>
            <th>
                Entrada
            </th>
            <th>
                Saída
            </th>
            <th>
                Total de Horas
            </th>
            <th>
                Total R$
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.People.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.People.ValueHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorkStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeWorkEnd)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalTimeWorked)
                </td>
            <td>
                    @string.Format("{0:R$0.00}", item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
    @{
        var total = string.Format("{0:R$0.00}", Model.Sum(x => x.Total));
        <tfoot class="footer"><cache><b>@total</b></cache></tfoot>
    }
</table>

