@using Domain.Entities;
@model Vagas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vagas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoVaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoVaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardImgUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
